.headerAppComponent {
  background-color: blue;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  padding: 0 20px;
}

.headerAppComponent div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}

.headerAppComponent nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
}

.headerAppComponent nav a {
  color: white;
}

.headerAppComponent h1 {
  font: bold;
  font-size: 2em;
  color: white;
}

.appCompontentContainer {
  height: calc(100vh - 7vh - 4.5vh);
}

.footerAppComponent {
  height: 4.5vh;
  align-self: center;
  background-color: gray;
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  justify-self: flex-end;
  padding: 4px;
}
